@model IEnumerable<SiNoMA.Domain.Notificacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataParaEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repeticao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mensagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotificacaoAtiva)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataParaEnvio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Repeticao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mensagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotificacaoAtiva)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
